.AssociateButton {
    -fx-background-image: url('../../icons/associateIcon.png');
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.AssociateButton: hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}

.DisconnectButton {
    -fx-background-image: url('../../icons/disconnectIcon.png');
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.DisconnectButton: hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}

.graphButton {
    -fx-background-image: url('../../icons/graph_Icon.png');
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.graphButton: hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}

.driverButton {
    -fx-background-image: url('../../icons/usb_Icon.png');
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 10;
    -fx-background-insets: 0,1,1;
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

}

.driverButton: hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}